<div class="input-group-addon">
  <select name="{{componentId}}[currecy]" ng-model="data[component.key].currency">
    <option value="{{ component.currency }}">{{ component.currency }}</option>
    <option ng-repeat="opt in component.options" value="{{ opt }}">{{ opt }}</option>
  </select>
</div>
<input
  type="{{ component.inputType }}"
  class="form-control"
  id="{{ componentId }}"
  name="{{ componentId }}[value]"
  tabindex="{{ component.tabindex || 0 }}"
  ng-model="data[component.key].value"
  ng-required="component.validate.required"
  ng-disabled="readOnly"
  safe-multiple-to-single
  placeholder="{{ component.placeholder }}"
  custom-validator="component.validate.custom"
  currency-input
  ui-mask-placeholder=""
  ui-options="uiMaskOptions"
>
