<div class="daySelect form row">
  <div class="form-group col-xs-3" ng-if="component.fields.days.show">
    <label for="{{componentId}}-day" ng-class="{'field-required': component.fields.days.required}" style="font-weight: normal;">{{ "Days" | formioTranslate:null:builder }}</label>
    <input
      class="form-control"
      type="text"
      name="{{componentId}}[days]"
      id="{{componentId}}-days"
      ng-model="data[component.key].days"
      ng-change="onChange()"
      style="padding-right: 5px;"
      day-part
      characters="100"
      min="0"
      max=""
      ng-disabled="readOnly"
      ng-required="component.required"
    />
  </div>
  <div class="form-group col-xs-3" ng-if="component.fields.hours.show">
  <label for="{{componentId}}-hour" ng-class="{'field-required': component.fields.hours.required}" style="font-weight: normal;">{{ "Hours" | formioTranslate:null:builder }}</label>
    <input
      class="form-control"
      type="text"
      name="{{componentId}}[hours]"
      id="{{componentId}}-hours"
      ng-model="data[component.key].hours"
      ng-change="onChange()"
      style="padding-right: 5px;"
      day-part
      characters="100"
      min="0"
      max=""
      ng-disabled="readOnly"
      ng-required="component.required"
    />
  </div>
  <div class="form-group col-xs-3" ng-if="component.fields.minutes.show">
    <label for="{{componentId}}-minute" ng-class="{'field-required': component.fields.minutes.required}" style="font-weight: normal;">{{ "Minutes" | formioTranslate:null:builder }}</label>
    <input
      class="form-control"
      type="text"
      name="{{componentId}}[minutes]"
      id="{{componentId}}-minutes"
      ng-model="data[component.key].minutes"
      ng-change="onChange()"
      style="padding-right: 5px;"
      day-part
      characters="100"
      min="0"
      max=""
      ng-disabled="readOnly"
      ng-required="component.required"
    />
  </div>
  <div class="form-group col-xs-3" ng-if="component.fields.seconds.show">
    <label for="{{componentId}}-second" ng-class="{'field-required': component.fields.seconds.required}" style="font-weight: normal;">{{ "Seconds" | formioTranslate:null:builder }}</label>
    <input
      class="form-control"
      type="text"
      name="{{componentId}}[seconds]"
      id="{{componentId}}-seconds"
      ng-model="data[component.key].seconds"
      ng-change="onChange()"
      style="padding-right: 5px;"
      day-part
      characters="100"
      min="0"
      max=""
      ng-disabled="readOnly"  
      ng-required="component.required"
    />
  </div>
</div>
