<style type="text/css">
  .formio-file-thumbnail-img {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering: -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    z-indexms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  }
</style>

<div class="form-group">
  <label ng-if="component.label && !component.hideLabel" for="{{ component.key }}" class="control-label" ng-class="{'field-required': component.validate.required}">{{ component.label | formioTranslate:null:builder }}</label>
  <br>
  <button type="button" ngf-select="uploadFiles($files, $invalidFiles)" ngf-multiple="{{component.multiple}}"
      accept="{{itemFile[component.key].extensions}}" ngf-pattern="'{{itemFile[component.key].extensions}}'" ngf-max-size="1GB">
      Selecione os arquivos</button><em>Tamanho máximo(1GB)</em>
  <input type="hidden" ng-model="data[component.key]" ng-required="component.validate.required">
</div>    

<div class="alert alert-info" ng-show="itemFile[component.key].upload">
  {{upload.qtd > upload.done ? 'Aguarde, processando upload...' : 'Upload realizado com sucesso!' }}
</div>
<div class="form-group">
  <div class="aler alert-danger" ng-show="itemFile[component.key].errorFile">
    <strong>Erro no upload!</strong>
    <ul ng-repeat="error in itemFile[component.key].errorFile">
      <li>Nome: {{error.name}}</li>
      <li>Tipo: {{error.type}}</li>
      <li>Error encontrado: {{error.$error}}</li>
    </ul>
  </div>
</div>

<div class="form-group">
  <div ng-show="itemFile[component.key].listFiles.length">
    <h3>Arquivos anexados:</h3>
    <ul>
      <li ng-repeat="f in itemFile[component.key].listFiles" style="font:smaller">
        <img class="formio-file-thumbnail-img" ngf-src="'{{f.url}}'" style="width: 150px;" data-rel="external">
        <a href="{{f.url}}" target="_blink">{{f.name}}</a>
        <a class="btn btn-danger btn-xs" ng-click="removeFile(f)" href="#">Excluir</a>
      </li>
    </ul>
   
  </div>
</div>