<style type="text/css">
  ul.formio-url-url {
    list-style: none;
    box-shadow: 0px 0px 0.2em #666;
    -webkit-box-shadow: 0px 0px 0.2em #666;
    -moz-box-shadow: 0px 0px 0.2em #666;
    margin-top: 2px;
    padding: 5px;
  }

  ul.formio-url-url .links .img {
    float: left;
    margin-left: 10px;
    padding-right: 10px;
    width: 40px;
    height: 40px;
  }
  ul.formio-url-url .links .img img {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
</style>


<div class="row">
  <div class="col-md-12">
    <label ng-if="component.label && !component.hideLabel" for="{{ componentId }}" ng-class="{'field-required': component.validate.required}">{{ component.label | formioTranslate:null:builder }}</label>
    <span ng-if="!component.label && component.validate.required" class="glyphicon glyphicon-asterisk form-control-feedback field-required-inline" aria-hidden="true"></span>
    <ui-select ng-model="list[component.key]" safe-multiple-to-single ng-disabled="readOnly" ng-required="component.validate.required" id="{{ componentId }}" name="{{ componentId }}" tabindex="{{ component.tabindex || 0 }}" theme="bootstrap" ng-change="urlChange(list[component.key])" ng-model-options='{ debounce: 1000 }'> 

      <ui-select-match class="ui-select-match" placeholder="{{ component.placeholder | formioTranslate:null:builder }}">{{$item.title || ""}}</ui-select-match>
      <ui-select-choices class="ui-select-choices" repeat="address in addresses" refresh="refreshAddress($select.search)" refresh-delay="100">
        <div ng-show="address">
          <img style="width: 40px; height: 40px;" ng-repeat="img in address.opengraph.ogImage" ng-src="{{img}}">
          <span ng-bind-html="address.title || address.url"></span>    
        </div>
      </ui-select-choices>
    </ui-select>
    <input type="hidden" ng-model="data[component.key]">
    <formio-errors ng-if="::!builder"></formio-errors>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <br>
    <ul class="formio-url-url" ng-repeat="urls in links">
      <li ng-repeat="link in urls">
        <div class="row">
           <div class="links">
            <div class="img">
              <a ng-if="link.opengraph" href="{{link.url}}"><img ng-repeat="img in link.opengraph.ogImage" ng-src="{{img}}" src="{{img}}"></a>
            </div>
            <div class="text">
              <a href="{{link.url}}"><strong>{{link.url}}</strong></a> |  <a href="javascript:void(0);" ng-click="urlRemove(link.url)">Excluir</a>
              <br>
              <span>
                {{link.description || 'Home page from adress ' + link.url }}
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
